/* 
=================
= Design Tokens =
=================
*/
/* 
Designers sit around all day drinking wine,
and debating the finer points of Hues of Grey.

From all the hues they pick just a couple ideal onces.
The same is done for ratios, fonts, and sizes.
These are called **Design Tokens**.

Which then is made availble to applications or developers
in the forms of color palettes, spacing, typography, etc.

This is the pragmatic baseline:
- A single typography
- Two palettes (light and dark)
- Spacing/Length
- Small set of classes for using them (think of these as adjectives)
 */

/* Typography */
html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Color Palettes */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #0f1213;
    --color-background: #f8f9f9;
    --color-primary: #718b92;
    --color-secondary: #c2b0b3;
    --color-accent: #b0a899;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #ebeeef;
    --color-background: #070808;
    --color-primary: #6d868d;
    --color-secondary: #4e3c3f;
    --color-accent: #655d4e;
  }
}

/*
These are the semantic colors.
Stable across palettes, and used to signal
to the user what the thing does or represent.
*/
:root {
  /* green-ish */
  --color-success: #4b8f7c;
  --color-success-fg: #ffffff;
  /* red-ish */
  --color-destructive: #b05a5a;
  --color-destructive-fg: #ffffff;
  /* blue-ish */
  --color-info: #5a7ea8;
  --color-info-fg: #ffffff;
}

/* Define defaults */
html {
  color: var(--color-text);
  background-color: var(--color-background); 
}

/* Define the classes for colors */
.text-default { color: var(--color-text); }
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-accent { color: var(--color-accent); }

.hover\:text-primary:hover { color: var(--color-primary); }
.hover\:text-secondary:hover { color: var(--color-secondary); }
.hover\:text-accent:hover { color: var(--color-accent); }

.bg-default { background-color: var(--color-background); }
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-accent { background-color: var(--color-accent); }

.hover\:bg-primary:hover { background-color: var(--color-primary); }
.hover\:bg-secondary:hover { background-color: var(--color-secondary); }
.hover\:bg-accent:hover { background-color: var(--color-accent); }

.border-default { border-color: var(--color-text); }
.border-primary { border-color: var(--color-primary); }
.border-secondary { border-color: var(--color-secondary); }
.border-accent { border-color: var(--color-accent); }

.success {
  color: var(--color-success-fg);
  background-color: var(--color-success);
}

.destructive {
  color: var(--color-destructive-fg);
  background-color: var(--color-destructive);
}

.info {
  color: var(--color-info-fg);
  background-color: var(--color-info);
}

/* Spacing */
:root {
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
}

.p-1 {padding: var(--space-1);}
.p-2 {padding: var(--space-2);}
.p-3 {padding: var(--space-3);}
.p-4 {padding: var(--space-4);}
.p-5 {padding: var(--space-5);}
.p-6 {padding: var(--space-6);}

.px-1 {padding-left: var(--space-1); padding-right: var(--space-1);}
.px-2 {padding-left: var(--space-2); padding-right: var(--space-2);}
.px-3 {padding-left: var(--space-3); padding-right: var(--space-3);}
.px-4 {padding-left: var(--space-4); padding-right: var(--space-4);}
.px-5 {padding-left: var(--space-5); padding-right: var(--space-5);}
.px-6 {padding-left: var(--space-6); padding-right: var(--space-6);}

.py-1 {padding-top: var(--space-1); padding-bottom: var(--space-1);}
.py-2 {padding-top: var(--space-2); padding-bottom: var(--space-2);}
.py-3 {padding-top: var(--space-3); padding-bottom: var(--space-3);}
.py-4 {padding-top: var(--space-4); padding-bottom: var(--space-4);}
.py-5 {padding-top: var(--space-5); padding-bottom: var(--space-5);}
.py-6 {padding-top: var(--space-6); padding-bottom: var(--space-6);}

.m-1 {margin: var(--space-1);}
.m-2 {margin: var(--space-2);}
.m-3 {margin: var(--space-3);}
.m-4 {margin: var(--space-4);}
.m-5 {margin: var(--space-5);}
.m-6 {margin: var(--space-6);}

.mx-1 {margin-left: var(--space-1); margin-right: var(--space-1);}
.mx-2 {margin-left: var(--space-2); margin-right: var(--space-2);}
.mx-3 {margin-left: var(--space-3); margin-right: var(--space-3);}
.mx-4 {margin-left: var(--space-4); margin-right: var(--space-4);}
.mx-5 {margin-left: var(--space-5); margin-right: var(--space-5);}
.mx-6 {margin-left: var(--space-6); margin-right: var(--space-6);}

.my-1 {margin-top: var(--space-1); margin-bottom: var(--space-1);}
.my-2 {margin-top: var(--space-2); margin-bottom: var(--space-2);}
.my-3 {margin-top: var(--space-3); margin-bottom: var(--space-3);}
.my-4 {margin-top: var(--space-4); margin-bottom: var(--space-4);}
.my-5 {margin-top: var(--space-5); margin-bottom: var(--space-5);}
.my-6 {margin-top: var(--space-6); margin-bottom: var(--space-6);}

.mx-auto {margin-left: auto; margin-right: auto;}

.gap-1 {gap: var(--space-1);}
.gap-2 {gap: var(--space-2);}
.gap-3 {gap: var(--space-3);}
.gap-4 {gap: var(--space-4);}
.gap-5 {gap: var(--space-5);}
.gap-6 {gap: var(--space-6);}
